{{ "<!-- About section -->" | safeHTML }}
<section>
    <h3 id="about-me"> 療程簡介</h3>
    
    <div class="face-lockup">
        <div class="face-img"></div>
        <div class="icon-pencil">
        </div>
        <div class="icon-mouse">
        </div>
        <div class="icon-browser">
        </div>
        <div class="icon-video">
        </div>
    </div>

    <div class="blurb">
       <p>
       708負離子能量鼎是台灣自然療法醫師 陳鴻烈發明的已歷經十五年的臨床，並做了百餘項檢驗報告其中包括白老鼠及人体實驗。對慢性病的改善效果非凡。<br> <br>
       在鼎內能放射出與心臟波長一樣8至14微米的遠紅外線產生共振作用引動心跳每分120次以上心跳有如激烈蓮動，將体內血管毒素排出並訓練心肺功能。<br> <br>
       又能放射出負離子能量消除自由基，將氧化的正電給與負離子負電位促使還原，並能釋出鹼離子綜合体內酸離子為弱鹼性体質，製造体內良好環境促使細胞修護達到身体自癒力恢復健康。
       </p>
    </div>

    {{ with .Site.Params.about.skills }}
    <div class="skill-lockup">
        {{ range . }}
        <div class="skill-unit">
            <div class="skill-label">{{ .name }}</div>
            <div class="skill-icons skill-{{ .value }}">
                {{ range (seq 10) }}
                    <span></span>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</section>
