{{ "<!-- Contact section -->" | safeHTML }}
<section class="alt-section section-contact">
    <h3 id="contact"> 聯絡我們 </h3>
    <!--
    <div class="social-links">
        {{ range .Site.Params.contact.social }}
        <a href="{{ .link }}" class="icon-{{ .icon }}"></a>
        {{ end }}
    </div>
    -->

    <a href="https://goo.gl/maps/xMpul"> 看地圖 </a> <br>
    <a class="smalllink" href="https://www.facebook.com/xiehespa">facebook.com/xiehespa<a/><br>
    <a class="smalllink" href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a> <br>
    <a class="smalllink" href="Tel:033842860"> Tel: 03-384-2860 </a> <br>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4397.433830289179!2d121.20195561676807!3d25.064041140076608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468209c68464f3f%3A0x43eda5af698bcf4c!2sMinsheng+S+Rd%2C+Dayuan+District%2C+Taoyuan+City%2C+337!5e0!3m2!1sen!2stw!4v1441558284572" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
