{{ "<!-- Contact section -->" | safeHTML }}
<section class="alt-section section-contact">
    <h3 id="contact"> 聯絡我們 </h3>
    <!--
    <div class="social-links">
        {{ range .Site.Params.contact.social }}
        <a href="{{ .link }}" class="icon-{{ .icon }}"></a>
        {{ end }}
    </div>
    -->

    <!--<a href="https://goo.gl/maps/j0QiS"> 看地圖 </a> <br>-->
    <a href="Tel:+886033842860"> 電話: +886 03-384-2860 </a> <br>
    <a href="https://www.facebook.com/xiehespa">facebook.com/xiehespa<a/><br>
    <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a> <br>
      協和養生館<br>
      營業時間: 週二到週日 11:00 - 21:00，週一休息<br>
      地址：民生南路167巷99號，桃園市桃園區台灣<br><br>
      <img src="/map.png"><br>
      <a href="https://goo.gl/maps/j0QiS">點擊放大Google地圖</a>   <a href="http://j.map.baidu.com/72uHD">點擊放大百度地圖</a>
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1807.0365853779663!2d121.20477499999998!3d25.065508999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDAzJzU1LjgiTiAxMjHCsDEyJzE3LjIiRQ!5e0!3m2!1sen!2stw!4v1441605916700" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
</section>
