{{ "<!-- Footer section -->" | safeHTML }}
<footer id="footer">
    <div class="lockup">
        <div class="content-wrap">
          <nav>
            <a href="#about-me"> 療程簡介</a>
            <a href="#contact"> 聯絡我們 </a>
         </nav>                                                                                                                <p class="copyright">{{ with .Site.Params.footer.copyright }}{{ . }}{{ else }}All content copyright {{.Now.Format "2006"}} {{ end }}</p>
        </div>
    </div>
</footer>
